/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

main {
  min-height: 100vh;
  padding: 0 2rem 0 2rem;
  margin-top: 64px; /* Add margin for fixed navbar */
}

@media (max-width: 768px) {
  main {
    padding: 0;
    margin-top: 64px; /* Keep margin for fixed navbar */
  }
}